{deps, [
{brod,{git,"https://github.com/klarna/brod", {tag, "3.8.1"}}},
{supervisor3,{git,"https://github.com/klarna/supervisor3", {tag, "1.1.8"}}},
{kafka_protocol,{git,"https://github.com/klarna/kafka_protocol", {tag, "2.2.9"}}}
]}.
{profiles,
    [{test, [
        {deps, [{emqx_ct_helpers, {git, "https://github.com/emqx/emqx-ct-helpers", {tag, "v1.1.1"}}}]
        }
    ]}
]}.
{edoc_opts, [{preprocess, true}]}.
{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard]}.
{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, deprecated_function_calls,
               warnings_as_errors, deprecated_functions]}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.
